:root {
        --ic-brand-primary-darkened-5: #850B3F;
--ic-brand-primary-darkened-10: #7E0A3C;
--ic-brand-primary-darkened-15: #770A39;
--ic-brand-primary-lightened-5: #91174B;
--ic-brand-primary-lightened-10: #972354;
--ic-brand-primary-lightened-15: #9D2F5E;
--ic-brand-button--primary-bgd-darkened-5: #850B3F;
--ic-brand-button--primary-bgd-darkened-15: #770A39;
--ic-brand-button--secondary-bgd-darkened-5: #C5BEB4;
--ic-brand-button--secondary-bgd-darkened-15: #B0AAA1;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #001ACC;
--ic-link-color-lightened-10: #1932E4;
--ic-brand-primary: #8c0b42;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #001ce2;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #cfc7bd;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #8c0b42;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #8c0b42;
--ic-brand-global-nav-menu-item__badge-bgd: #008ee2;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #8c0b42;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_40000000082189/attachments/76396998/nmsu-logo-only.gif?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1937114263&Signature=dkSz7KvZlh5plSCa9syKMwzQ%2Fxk%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #8c0b42;
--ic-brand-Login-body-bgd-image: url('https://instructure-uploads.s3.amazonaws.com/account_40000000082189/attachments/174511594/Aerial_Texture06.jpg');
--ic-brand-Login-body-bgd-shadow-color: #ffffff;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_40000000082189/attachments/76397000/learn-login-logo.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1937114264&Signature=Fk5UDPoeQ9K1VmRMvqDDuyb2SaU%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }